h1{
    font-size: 260%;
    font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #173b6c;
    text-align: center;
    
    
}

header{
    text-align: left;
    font-weight: 100;
    
    background-color: rgb(182, 199, 227);
    margin-bottom: 10px;
}
body
{
    
   
  background-color: rgb(182, 199, 227);
    
    
}



.resume
{
  background-color: rgb(246, 248, 252);
}






 
.pic
{
  width: 30%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.img1
{
  width: 10%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.socials .ig
{
  width: 10%;
    height: auto;
    
  
  
}

.socials .linkedin
{
  margin-left: auto;
  width: 10%;
    height: auto;
    
  
  
}
.socials .github
{
  margin-left: auto;
  width: 10%;
    height: auto;
   
    
  
  
}

.projecthead
{
  
  text-align: center;
  font-size: 200%;
  color: #173b6c;
  
}
.projectbody
{
  background-color: rgb(246, 248, 252); 
  padding: 20%;
  font-size: 115%;
  
}

.pro
{
   
   background-color: rgb(182, 199, 227);
}



