h1{
    font-size: 260%;
    font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #173b6c;
    text-align: center;
    
    
}

header{
    text-align: left;
    font-weight: 100;
    
    background-color: rgb(182, 199, 227);
    margin-bottom: 10px;
}
body
{
    
   
  background-color: rgb(182, 199, 227);
    
    
}



.resume
{
  background-color: rgb(246, 248, 252);
}






 
.pic
{
  width: 30%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.img1
{
  width: 10%;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}

