/*code for type effect start in hero section*/

html {
  height: 100%;

  background-color: black;

  background-image: linear-gradient(3deg, #0d3961 0%, #28313b 74%);
  background-repeat: no-repeat;
}
body {
  font-family: sans-serif;
  background-image: #06a8ff;
  background-color: black;

  color: white;
  height: 100%;
}

.container {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: 100;
  color: #fff;
}
.container .first {
  font-weight: 100;
  color: white;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}

.arrow {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

/*code for type effect END */

.hero-image {
  background-image: url('/images/IMG_2713.jpg');

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  font-size: 5rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .hero-text {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
  .container p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 400px) {
  .hero-text {
    font-size: 1.9rem;
    letter-spacing: 0.1rem;
  }
  .container p {
    font-size: 1.5rem;
  }
}
/* END HERO STYLING */

/*GENERAL LAYOUT */

.super-container,
.super-container2 {
  display: block;
  background-color: black;
  background: linear-gradient();

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/maxresdefault.jpg');
  background-size: cover;
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.work-exp,
.work-exp2,
.skills,
.education,
.resume,
.container3 {
  padding: 30px 40px;
  box-sizing: border-box;
}
.container3 {
  text-align: center;
  padding-top: 65px;
  box-sizing: border-box;
}
.container4 {
  padding: 30px 40px;
  box-sizing: border-box;
}

.section-title {
  text-align: center;
  font-weight: 220;
  color: #4f8bdf;
}
.ig,
.linkedin,
.github {
  text-align: center;

  width: 10%;
  height: auto;
}

/* START OF PROJECT AREA*/
.hero-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05)),
    url('/images/IMG_4002.jpg');

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
  position: relative;
}
.proj-header h1 {
  font-size: 4rem;
  color: white;
}

.snakegamedescribe {
  padding: 10%;
  font-size: 115%;
}
.snakelink,
.link {
  text-align: center;
}
.snakegame {
  height: auto;
  display: block;
  width: 77%;
  margin: 0 auto;
}
body .pic {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-position: center;

  object-fit: cover;
  object-position: 20% 10%;
}
.link {
  font-size: 1.5rem;
  font-weight: 200;
}
/* START OF ABOUT ME*/
.hero-image3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url('/images/IMG_2852.jpg');

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: 25% 25%;
  background-repeat: no-repeat;

  background-size: cover;
  position: relative;
}

@media screen and (min-width: 767px) {
  .super-container,
  .super-container2 {
    padding: 20px 60px;
    max-width: 100%;
  }
  .linkedin,
  .github {
    width: 7%;
  }
  .proj-p {
    padding: 30px 120px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1025px) {
  .hero-image,
  .hero-image2,
  .hero-image3 {
    background-attachment: fixed;
  }
  .education .section-title,
  .work-exp .section-title,
  .work-exp2 .section-title {
    text-align: left;
  }
  .container1,
  .container2 {
    display: flex;
  }
  .skills,
  .education {
    flex: 1;
  }
  .hero-image2,
  .hero-image3 {
    height: 100%;
  }
}

.Activities-Honors {
  text-align: center;
}
body .socials {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  box-sizing: border-box;
}
