/*code for type effect start */

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: rgb(9, 0, 0);
}

.container {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: 100;
  color: #99c0f5;
}
.container .first {
  font-weight: 100;
  color: white;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 6px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

/*code for type effect end */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("/images/IMG_2713.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  font-size: 5rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .hero-text {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
  .container p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 400px) {
  .hero-text {
    font-size: 1.9rem;
    letter-spacing: 0.1rem;
  }
  .container p {
    font-size: 1.5rem;
  }
}
