.container2 {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  padding-top: 50px;
  box-sizing: border-box;
}

.message {
  color: white;
  font-size: 300%;
}
body {
  background: linear-gradient(rgba(5, 7, 10, 0.72), rgba(5, 7, 10, 0.6)),
    url('/images/maxresdefault.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding-top: 100px;
  box-sizing: border-box;
}

h1 {
  color: aqua;
}

.calculate {
  background-color: blueviolet;
  border: 3px solid aqua;
  border-radius: 20px;
}
.add,
.remove {
  background-color: aqua;
  border: 3px solid aqua;
  border-radius: 9px;
}

select,
input {
  display: inline-block;
}
.custom-select {
  height: 40%;
  width: 20%;
}

@media screen and (min-width: 600px) {
  .credits {
    width: 20%;
    height: 40px;
  }
  .custom-select {
    height: 40px;
    width: 20%;
  }
}
